/.vscode
/.github
/.nyc_output
/src
/inst
/dist
/lib/*.js.map
/test
/coverage
/.editorconfig
/.eslintrc.js
/.eslintignore
/.travis.yml
/.gitignore
/appveyor.yml
/jest.config.js
/tsconfig.json
/tslint.json
/yarn.lock
/*.tgz
/webpack.config.js
/jest.config.js
/appveyor.yml
/tsconfig.json
